asgiref~=3.3.1
Django~=3.1.4
Pillow~=8.1.2
python-dotenv==0.19.0
pytz~=2020.4
sqlparse~=0.4.1


defusedxml~=0.7.1
cffi~=1.14.6
PyQt5~=5.15.4
future~=0.18.2
ipython~=7.19.0
olefile~=0.46
pip~=21.2.2
keyring~=22.2.0
colorama~=0.4.4
PyYAML~=5.3.1
Jinja2~=3.0.1
numpy~=1.21.1
click~=7.1.2
setuptools~=52.0.0
djangorestframework~=3.12.2
requests~=2.25.1
Pygments~=2.7.3